<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.temple.cis.mysepta2"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/septaicon">
        <activity android:name=".MySepta"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<activity android:name=".myschedule.MyScheduleAct"></activity>
<activity android:name=".search.SearchService"></activity>
<activity android:name=".search.SearchRoute"></activity>
<activity android:name="edu.temple.cis.mysepta.news.NewsAct"></activity>
<activity android:name=".search.SearchDayOfService"></activity>
<activity android:name=".search.SearchStop"></activity>
<activity android:name=".search.SearchSchedule"></activity>

		<activity android:name=".favorite.FavoriteStopAct"></activity>
		<activity android:name=".favorite.RouteAct"></activity>
		<activity android:name=".favorite.ServiceAct"></activity>
		<activity android:name=".favorite.DateOfServiceAct"></activity>
		<activity android:name=".favorite.StopAct"></activity>
</application>
    <uses-sdk android:minSdkVersion="7" />



<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 